
  <app-navigation [event] = "event"></app-navigation>
  <app-banner [event] = "event"></app-banner>
  <app-timeline [event] = "event" [dates] = "event.dates"></app-timeline>
  <app-description [event] = "event"></app-description>
  <app-submissiondetails [event] = "event"></app-submissiondetails>
  <app-organizers [event] = "event"></app-organizers>
  <app-committee [event] = "event"></app-committee>
  <app-sponsors [event] = "event"></app-sponsors>
  <app-footer [event] = "event"></app-footer>


