<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{event.title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <!-- custom css -->
    <link rel="stylesheet" href="/assets/css/themex.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body>

  <app-navigation [event] = "event"></app-navigation>
  <app-banner [event] = "event"></app-banner>
  <app-timeline [event] = "event" [dates] = "event.dates"></app-timeline>
  <app-description [event] = "event"></app-description>
  <app-submissiondetails [event] = "event"></app-submissiondetails>
  <app-organizers [event] = "event"></app-organizers>
  <app-committee [event] = "event"></app-committee>
  <app-footer [event] = "event"></app-footer>

    <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
