<div class="information p-5 bg-dark text-white" *ngIf="(event?.submission_detail | json) != ({} | json)">
  <div class="container">
    <div class="row">

      <div class="col-sm-8">
        <h2 class="featurette-heading mb-3">
          {{event.submission_detail.title}}
        </h2>

          <markdown [data]="event.submission_detail.description" ></markdown>
      </div>
      <div class="col-sm-4 text-center  ">
        <div class="d-flex h-100">
          
          <a href="{{event.submission_detail.btn_link}}" target="_blank" class="btn btn-outline-secondary btn-lg align-self-center ">{{event.submission_detail.btn_text}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
