<div class="vh-100 d-flex position-relative overflow-hidden pd-5 text-center  lg-banner">
  <div class="mx-auto mt-5 align-self-center">
    <div class="lg-banner-contaner bg-muted shadow-md p-5">

      <h2 class="display-4 font-weight-normal">1st Congress on Mathematics and Astrology</h2>
      <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      <a class="btn btn-primary" href="#">Coming soon</a>
    </div>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>
