<div class="container mt-5">
  <h1 class="text-center pb-5 featurette-heading">Organizers</h1>
  <div class="row mb-2">


    <div class="col-md-4 mx-auto" *ngFor="let user of event.organizers">
      <div class="card profile-card-1">
        <img src="{{user.photo}}" alt="profile-sample1" class="background"/>
        <img src="{{user.photo}}" alt="profile-image" class="profile"/>
        <div class="card-content">
          <h2>{{user.firstname + ' ' + user.lastname}}</h2>
          <p>{{user.email}}</p>
          <p><b>{{user.institution}}</b></p>
          <div class="icon-block">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"> <i class="fa fa-twitter"></i></a>
            <a href="#"> <i class="fa fa-google-plus"></i></a>
          </div>
        </div>
      </div>
    </div>




  </div>
</div>
