<div class="description mt-3 mb-5" id="description">

  <div class="container">
    <div class="row featurette">
      <div class="col-md-7 lead">
        <h2 class="featurette-heading mb-5">Description</h2>
        <div>
          {{event.description}}
        </div>
      </div>
        <div class="col-md-5" >
          <div class="d-flex h-100"  >
            <img src="{{ event.logo }}"  alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto align-self-center rounded border border-light"/>

          </div>
        </div>



    </div>
  </div>
